<h3>Courses</h3>

<% courses.each do |c| %>
<div>
  <h3><%= link_to c.title, c %></h3>
  <strong><%= c.description %></strong>
  <%= c.text[0..200].gsub(/\n/,"<br>").html_safe %>... <%= link_to "Read More...", c %>

</div>


<% end %>