<div class="footer container">
  <div class=row>
    <div class="nine columns">

      Open sourced project: <span>https://github.com/micmmakarov/school</span>

    </div>
    <div class="three columns">
      <img class="ruby-logo" src="/assets/rails-logo.png" />
    </div>
  </div>
</div>
