<div class="footer container">
  <div class=row>
    <div class="nine columns">

      Open sourced project available @ <a href="https://github.com/micmmakarov/school">https://github.com/micmmakarov/school</a>

    </div>
    <div class="three columns">
      <img class="ruby-logo" src="/assets/rails-logo.png" />
    </div>
  </div>
</div>
