<div class="header container">
  <div class=row>
    <div class="seven columns">
        <h2><a href="/" class=logo>Rails School San Francisco</a></h2>
    </div>

    <div class="five columns">
        <ul class=menu>
            <li><a href="/about">About</a></li>
            <li><a href="/posts">Blog</a></li>
            <li><a href="/courses">Courses</a></li>
        
          <% if user_signed_in? %>
              <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              </li>
          <% else %>
              <li><a class="login-button" data-reveal-id="login" href="#"><i class="icon-user icon-white" style="margin-top:3px;"></i> Login</a></li>
        <% end %>

          <% if user_signed_in? %>
              <li><div><i class="icon-user"></i> <%= current_user.name %></div></li>
          <% end %>

        </ul>
    </div>

    </div>
</div>




<div id=login class="reveal-modal" style="width:240px;">
<%= render "home/signin" %>
  <a class="close-reveal-modal">&#215;</a>
</div>

