<div class="header container">
  <div class=row>
    <div class="seven columns">
        <h3><a href="/" class=logo>Rails School San Francisco</a></h3>
    </div>

    <div class="five columns">
        <ul class=menu>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Courses</a></li>
        
          <% if user_signed_in? %>
              <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              </li>
          <% else %>
              <li><a class="login-button" data-reveal-id="login" href="#">Login</a></li>
        <% end %>

        </ul>
    </div>

    </div>
</div>




<div id=login class="reveal-modal" style="margin-left:-120px;width:240px;">
<%= render "home/signin" %>
  <a class="close-reveal-modal">&#215;</a>
</div>

