<%= render :partial => "home/calendar", :locals =>{:year => Date.today.year, :month => Date.today.month} %>
<br>
<br>

<% if user_signed_in? %>

    <h4>My lessons:</h4><br>

    <% current_user.lessons.all(:order => "created_at DESC").each do |l| %>
        <% if Date.today > l.time.to_date %>
            <% attended = "black label" %>
        <% else %>
            <% attended = "blue label" %>
        <% end %>
        <span class="<%= attended %>"><%= l.time.strftime("%d %B") %></span>
        <%= l.title %>
        <hr/>
        
    <% end %>

<% else %>
Please register to attend classes<br>
<a href="/users/sign_up" class="black radius button">Register</a>
<% end %>

