<h1>
  About The Project
</h1>

<h5>
  Ruby on Rails, often shortened to Rails, is an open source full-stack web application framework for the Ruby programming language. Ruby on Rails is not to be confused with Ruby, which is a general-purpose programming language, on which Ruby on Rails runs. Ruby itself existed for more than 10 years before the first release of Ruby on Rails. Rails is a full-stack framework, meaning that it gives the Web developer the full ability to gather information from the web server, talking to or querying the database, and template rendering out of the box. As a result, Rails features a routing system that is independent of the Web server.
</h5>

<h2>See what courses available now</h2>
<h5>
  Each Course consists of Lessons, lessons has time, title etc.
  <br>See <a href="/courses">All Courses</a> and check out each course!
</h5>
<h2>Register to participate!</h2>
<h5>
  if you are not registered yet, <a href="/users/sign_up" class="black radius button">Register</a> and take part in discussions and community building.
</h5>
