<% if controller.controller_name=="home"&&controller.action_name=="index" %>
    $(".slide").show();
<% else %>
    $(".slide").delay(50).hide(500);
<% end %>



<% data = controller.controller_name.to_s+"/"+controller.action_name.to_s %>
<% url = request.url %>
//$(".yield").hide();
$(".yield").html("<div class=old-div>" + $(".yield").html() + "</div>" + "<%= escape_javascript(render :template => data) %>");
history.pushState(null,"123", "<%= url %>");


window.onpopstate = function(event) {

    //address =  document.URL;
    //window.location.replace(address);
    //if (address.match("#")) {} else {window.history.back();}
    //console.log("pathname: "+location.pathname);
    //loadContent(location.pathname);
};



$(".old-div").delay(50).animate({"height": "0px"},function () {$(".old-div").remove()});
$(".old-div").fadeOut();

$(document).ready(function () {
    function activateTab1($tab) {
        var $activeTab = $tab.closest('dl').find('a.active'),
                contentLocation = $tab.attr("href") + 'Tab';

        // Strip off the current url that IE adds
        contentLocation = contentLocation.replace(/^.+#/, '#');

        //Make Tab Active
        $activeTab.removeClass('active');
        $tab.addClass('active');

        //Show Tab Content
        $(contentLocation).closest('.tabs-content').children('li').hide();
        $(contentLocation).css('display', 'block');
    }


$('.yield dl.tabs').each(function () {
    //alert($('.yield dl.tabs').length);
    //Get all tabs
    var tabs = $(this).children('dd').children('a');
    tabs.click(function (e) {
        activateTab1($(this));
    });
});
});