<h3 class=green-underline>My homework to complete:</h3>
<% i = 0 %>
<% homeworks.each do |h| %>
    <% if not current_user.complete?(h) %>
        <% i+=1 %>
    <div class=row>
        <h5><%= i %>. <a href="<%= url_for h.lesson %>#homework"><%= h.title %></a></h5>
        </div>
    <% end %>
<% end %>

<br><br>
