/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation
 *= require_tree .
*/

@font-face {
    font-family: 'ospdin';
    src: url('/fonts/OSP-DIN-webfont.eot');
    src: url('/fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/OSP-DIN-webfont.woff') format('woff'),
    url('/fonts/OSP-DIN-webfont.ttf') format('truetype'),
    url('/fonts/OSP-DIN-webfont.svg#OSPDIN') format('svg');
    font-weight: normal;
    font-style: normal;

}

body h2, body h3 {
font-family: 'ospdin';
color:#d30000;
text-transform:uppercase;
}
body div {

    font-size:14px;
}
body p {

    font-size:14px;
}
.footer {
    margin-top:30px;
    background: black;
    color:white;
    min-height:200px;


}
.body {
    min-height:500px;
}
body {
   /* background:url(bg.png) !important;*/
    background:url(/assets/bg.jpg) !important;

}
.add-lesson {
    background:rgba(255,255,255,0.5);
}

.time-field select {
    display:inline-block;
}
.login-form input[type=email], .login-form input[type=password] {
font-size:30px !important;
    font-family: Arial, sens-serif;
}
.login-form input[type=submit] {
width:100%;
}
.login-form label {
display:inline-block;
}
.single-lesson {
height:150px;
}
.small-text {
    font-size:11px;
}
.header {
    margin-bottom:20px;
    color:white;
}
.header .row:first-child {
    padding-top:15px;

}
.header {
background:black;
border-bottom:4px solid #d30000;
}
.header .logo {
    color:#d30000;
    font-family: 'Poiret One', cursive;

}
.slide {
    height:200px;
    overflow:hidden;
    margin-bottom:20px !important;
}

.menu li a {
    display:block;
    margin-top:15px;
    color:#d30000;
    font-size:16px;
}
.menu li a:hover {
color:red;
}
.menu li {
    float:left;
    padding-left: 15px;
}
.menu {
    float:right;
    margin-bottom:0px;
}
.login-button {
    background-color:#d30000;
    border-radius:10px;
    color:white !important;
    padding: 5px;
    margin-top:10px !important;
    display:block;
}
.login-button:hover {
    background-color:#ee0000;
}


/* footer */
.footer .row:first-child {
    padding-top:30px;
}
.footer .ruby-logo {
    float:right;
}

body form textarea {
    font-size:26px;
    width:100%;
    height:300px;
}
body form input {
    font-size:26px;
}

#login {
    /*margin-left:-120px;*/
}
.header li div {
    margin-top:15px;
    font-size:14px;
}
.reveal-modal {
    background:white;
}

.i1-img {
    width:100%;
    height:200px;
    position:absolute;
}
.i2-img {
    width:100%;
    height:200px;
    position:absolute;
}
.i3-img {
    width:100%;
    height:200px;
    position:absolute;
}
.i4-img {
    width:100%;
    height:200px;
    position:absolute;
}
.img-wrap {
    width:100%;
    height:200px;
    position:relative;
}

.add_comment_box {
    display: none;
}
.add_comment_box textarea {
    height:50px;
    width:100%;
    max-width:400px;

}
.comments div .add_comment_box:first-child {
    display:block !important;
}

.big-img {
    width:100%;
    padding-bottom:10px;
}
.margin-top-5 {
    margin-top:5px;
}

.body a {
    color: darkred;
    border-bottom: 1 dashed red;
}
a:hover {
    color: white !important;
    background:darkred;
}
a:active {
    color: white;
    background:red;
}

a.button {
    color:white;

}

.new-comment-button {
    display:none;
}



/* Rating */
.up {
    background: url(/assets/arrows.png) no-repeat -32px 1px;
    width:14px;
    height:14px;
    cursor:pointer;
}
.down {
    background: url(/assets/arrows.png) no-repeat;
    width:14px;
    height:14px;
    cursor:pointer;
}
.up-inactive {
    background: url(/assets/arrows.png) no-repeat -32px 1px;
    width:14px;
    height:14px;

}
.down-inactive {
    background: url(/assets/arrows.png) no-repeat;
    width:14px;
    height:14px;

}
.up-done {
    background: url(/assets/arrows.png) no-repeat -48px 1px;
    width:14px;
    height:14px;
    cursor:pointer;
}
.down-done {
    background: url(/assets/arrows.png) no-repeat -16px 1px;;
    width:14px;
    height:14px;
    cursor:pointer;
}

.hits {
    font-size: 8px;
}
.rating {
    padding-bottom:0px;
    padding-top:2px;
}
.rating-block div {
    margin:auto;
    text-align:center;
}

.comment-body {
    min-height:70px;
    overflow:hidden;
}

.gray {
    color:#AAAAAA;
}
.blog-header {
    /*min-height:75px;*/
    padding-bottom:15px;
}
.load {
    display: block;
    height: 20px;
    width:20px;
    content: ' ';
    background: url(/assets/load.gif);
}

dl.sub-nav dd.active a {
    background:darkRed !important;
}

dd a:hover {
    color:#d30000 !important;
}

.add-lesson-button {
    float:right;
}